#productContainer
	#topcontainer.col-sm-12
		#productlist
			.imgcont
				img#img1(src='/images/slider/1.png')
				p	Test Description
			.imgcont
				img#img1(src='/images/slider/2.png')
				.dis
					p	Test Description
			.imgcont
				img#img1(src='/images/slider/3.png')
				.dis
					p	Test Description
			.imgcont
				img#img1(src='/images/slider/4.png')
				.dis
					p	Test Description
			.imgcont
				img#img1(src='/images/slider/2.png')
				.dis
					p	Test Description
		#controler
			img#img1(style='width: 5%;height: auto;', src='images/slider/left.png')
			img#img1(style='width: 5%;height: auto;', src='images/slider/right.png')
	.row		
		#topcont
			#productview
				#pimdiv.col-sm-12
					#pimg.col-sm-5
						img#imgproductviewimg(src='/images/slider/1.png')
						
					#pdis.col-sm-7
						h4 Product name
						p	Description : To describe your buyer persona, think about what she’s reading and which websites she visits, because that will help you understand the right tone of <br> Test :voice that will engage her. Consider what keeps her awake at night, what she dreams of achieving, and how she makes <br>Size : 5 kg <br>Price : 5000













	

	