.row
	.col-sm-12
		.picBox
			.slider
				#images
					img#img1(style='width: 100%;height: auto;', src='/images/slider/1.png')
					img#img2(style='width: 100%;height: auto;', src='/images/slider/2.png')
					img#img3(style='width: 100%;height: auto;', src='/images/slider/3.png')
					img#img4(style='width: 100%;height: auto;', src='/images/slider/4.png')
					img#img5(style='width: 100%;height: auto;', src='/images/slider/5.png')
				#snav
					#SnavUp
						#Scircles
							ul
								li#S0
								li#S1
								li#S2
								li#S3
								li#S4

					#SnavMiddle
						img#Sleft(src='image\slider\Left.png', onclick='prev()')
						img#Sright(src='image\slider\Right.png', onclick='next()')

					#snavBottom
						p#SP0 Skills for Livelihood, Employability for skills
						p#SP1 Tel/Fax: Director : 0552230218  Office : 0552223818
						p#SP2 Email: office@atibadulla.edu.lk
						p#SP3 text 4
						p#SP4 text 5
						p#SP5 text 5
