.row(style='height:auto')
	.col-sm-12(style='height:auto,position: absolute')
		#images
			img#img1(style='width: 100%;height: auto;', src='/images/slider/1.png')
			img#img2(style='width: 100%;height: auto;', src='/images/slider/2.png')
			img#img3(style='width: 100%;height: auto;', src='/images/slider/3.png')
			img#img4(style='width: 100%;height: auto;', src='/images/slider/4.png')
			img#img5(style='width: 100%;height: auto;', src='/images/slider/5.png')
				
		