body{
	width: 100%;
	height: auto;
}
#navibar{
	

}
#imageslider{
	/*background-color: red;*/
	height: inherit;
	max-height: 460px;
	position: relative;
	
	
}

.Top10Product{
	/*background-color: #00b0ff;
	color:white;*/
	
	margin: 0px;
	margin-bottom: 20px;
	

}
#topic {
	background-image: url("images/Backgroung/Untitled.png");
	height: 10%;
}
#topic h2{
	margin-top: 0px;
	color:white;
	padding: 0;
	padding-top: 5px;
	padding-left: 10px;
	font-weight: bold;

}
#products{
	width: 100%;
	height:auto;

}

/*
#imageslider{
	width: 100%;
	height: 465px;
	background-color: red;
	margin-bottom: 5px;
	overflow: hidden;	
	position: inherit;
	float: left;


}

#topProduct{

}

@media only all and (max-width:1024px) {

	#imageslider{

		max-height: 342px;
		min-height: 265px;
	}

}

@media only all and (max-width:768px) {

	#imageslider{
		
		height: 257px;
	}

}

@media only all and (max-width:800px) {

	#imageslider{
		min-height: 165px;
		height: auto;
    max-height: 262px;
		
	}

}

@media only all and (max-width:600px) {

	#imageslider{
		min-height: 130px;
		height: auto;
    max-height: 200px;
	}

}

@media only all and (max-width:480px) a {

	#imageslider{
		min-height: 112px;
		height: auto;
		max-height: 130px;
	}

}
@media only all and (max-width:320px) {

	#imageslider{
		min-height: 112px;
		height: auto;
		max-height: 153px;	
	}

}*/